/* .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../image/photo-1528731708534-816fe59f90cb.jfif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  } */
 .masthead{
    display: table;
    width: 100%;
    height: 100vh;
    min-height: 500px;
         /* height: auto;  */
    padding: 100px 0;
    text-align: center;
    color: white;
  }
  .background-image{

    background-image: url('../image/photo-1528731708534-816fe59f90cb.jfif');
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
  } 
 .z{
     color: black;
    z-index: 9999;
    /* display: table-cell; */
    /* vertical-align: middle; */
 }
 
.navbar{
      direction: rtl;
      /* background-color: transparent !important; */
      box-shadow: none;
  }

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -56px;
}
.text-right{
    text-align: right !important;
}
.suggest-form{
    border-radius: 2%;
    background-color: white;
}
.form-head{
    margin: 0px 2% 2% 2%;
    border-radius: 3%;
}
.sec-1{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,100,29,1) 50%, rgba(252,176,69,1) 100%);
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* ----------------------------------------- */

.sec2-img{
    /* border-radius: 5px 20px 5px; */
    border-radius: 30% 70% 71% 29% / 30% 25% 75% 70% ;
}

.ul-cat li{
    display: inline-block;
}
.ul-cat li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;

}
.ul-cat li a:hover{
    color: #1e7e34;
    font-weight: bold;
    transition: ease-in 0.4s;
    box-shadow: -1px 3px 3px;
    padding: 7px;
    border-radius: 4%
}
/* -------------carrrrddd---------------------------- */
 .carousel-control-next, .carousel-control-prev{
    /* top: -5% !important;
     bottom: 0 !important;
     background-color: black;
     border-radius: 44% !important;
     width:unset;
     background-color: black;
    position: absolute;
    top: -21px;
    /* bottom: 0; */
    /* width:unset; */
    height: 5%;
    background-color: black;
    border-radius: 60%;
    top: -5%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* width: 15%; */
    color: #fff;
    width: 2.5%;
    padding: 0.5%;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.sec-4-background{
    background-image: url("../image/download.jfif");
    height: 100%;
    width: 99%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    background-attachment: fixed;
}
/* Categoryyyyyyyyyyyyyy */
.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card1{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card1:before,
  .card1:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card1:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card1:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card1 .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card1:hover .imgBx
  {
    bottom: 80px;
  }

  .card1 .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card1 .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card1 .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card1 .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 
 
 body{
     background-color: #ededed;
 }
 .bg-footer{
     background-color: #ffa41b;
     color: white;
 }
 .bg-footer ul li{
     list-style: none;
     
 }
 .bg-footer ul li a{
     color:white
 }
 /* --------------zommmm innnn---- */
 .inner{
    overflow: hidden;
}
 
.inner img{
    transition: all 1.2s ease;
}
 
.inner:hover img{
    transform: scale(1.5);
}
@font-face {
    font-family: vazir-medium;
    src: url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Medium.eot');
    src: url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Medium.woff2') format('woff2'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Medium.woff') format('woff'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: vazir-thin;
    src: url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Thin.eot');
    src: url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Thin.woff2') format('woff2'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Thin.woff') format('woff'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: vazir-bold;
    src: url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Bold.eot');
    src: url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Bold.woff2') format('woff2'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Bold.woff') format('woff'),
         url('E:/workspace/taamol-project/font/vazir-font-v19.1.0/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
  font-family: Vazir Code;
  src: url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code.eot');
  src: url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code.eot?#iefix') format('embedded-opentype'),
       url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code.woff') format('woff'),
       url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir Code Hack;
  src: url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code-Hack.eot');
  src: url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code-Hack.eot?#iefix') format('embedded-opentype'),
       url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code-Hack.woff') format('woff'),
       url('E:/workspace/taamol-project/font/vazir-code-font-v1.1.2/Vazir-Code-Hack.ttf') format('truetype');
  font-weight: normal;
}
*{
    font-family: 'vazir-medium';
}